body {
    font-family:'Arial Bold', sans-serif;
}

header {
    background-color: #9A9CAD;
    padding: 1%;
}

header p {
    background-color: #3A3B44;
    width: 148px;
    padding: 15px 7px 15px 7px;
    color: white;
}

nav {
    border-top: 5px solid #3A3B44;
    border-bottom: 5px solid #3A3B44;
    padding: 17px 100px 17px 100px;
    justify-content: space-between;
    display: flex;
    margin: 35px 0px 35px 0px;
}

.nav-link {
    color: black;
    text-decoration: none;
}

p {
    text-align: center;
    padding: 40px 28px 40px 28px;
}

.inst {
    padding: 5px;
    text-align: left;
}

footer {
    background-color: #9A9CAD;
    padding: 1%;
    margin-top: 50px;
}

footer p {
    background-color: #3A3B44;
    padding: 15px 7px 15px 7px;
    width: 250px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
